body{
    background-image: url('/assets/image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(244, 244, 245);
}

.center-div{
    padding-top: 10%;
}
.btn-btn-success{
    background-color: rgb(7, 194, 57);
    border:none ;
    color:#fff;
    padding:4px 10px;
}

#login .title > span{
    font-size: .8em;
}

#i{
    background-color: rgba(81, 83, 83, 0.41);
} 
